.meme{
    width: 90%;
    margin: 0 auto;
    padding-top: 40px; 
}

.meme-input > input{
    display: inline-block;
    width: 230px;
    height: 35px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.meme-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.meme-div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-meme-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 477px;
    height: 40px;
    border-radius: 5px;
    border: transparent;
    background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #fff;
    margin-top: 20px;

}